{% extends 'base.html' %}
{% block title %}New Topic {%endblock%}

{% block breadcrumb %}
<li class="breadcrumb-item  "><a href="{%url 'home'%}"> Boards</a></li>
<li class="breadcrumb-item  "><a href="{%url 'board_topics' board.pk%}">{{board.name}}</a></li>
<li class="breadcrumb-item active ">New Topic</li>
{% endblock %}

{% block content %}
<form action="{% url 'new_topic' board.pk%}" method="POST" novalidate >
    {%csrf_token%}
    {% include 'includes/form.html' %}   
    <button type="submit" class="btn btn-primary mt-2">Add</button>
</form>

{% endblock %}

