{%extends 'base.html'%}

{%block title%} Sign Up {%endblock%}


{% block body %}

<div class="container col-lg-4 p-4 mt-5 signup">
    <h2 class="text-center"> Sign Up </h2>
    <form action="" method="post" novalidate>
       {%csrf_token%}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-primary">Create New User</button>
    </form>
    <div class="card-footer text-muted text-center mt-2">
        Already have an account? <a href="{%url 'login'%}">Log in</a>
    </div>
</div>

{% endblock %}
